body {
    min-height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* * {
    border: solid 1px red;
} */

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.header,
.container-one,
.container-two,
.container-three,
.container-four,
.footer {
    display: flex;
    padding: 50px 200px;
}

/* .container-one,
.container-two,
.container-three,
.container-four {
    flex: 1;
} */

.header,
.footer {
    background-color: #1F2937;
    align-items: center;
}

.footer {
    justify-content: center;
}

.header {
    justify-content: space-between;
    padding-top: 20px;
}

.header-links {
    display: flex;
    gap:8px;
}

.container-one {
    background-color: #1F2937;
    display: flex;
    /* border: solid 1px red; */
    gap: 8px;
}

.hero-text {
    flex: 1;
    /* border: solid 1px red; */
}

.image-placeholder {
    width: 50%;
    background-color: grey;
    /* border: solid 1px red; */
}

.hero-text button {
    margin-top: 10px;
}

.container-two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: #1F2937;
    /* border: solid 1px purple; */
    
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    /* border: solid 1px purple; */
    text-align: center;
}

.cards-container {
    display: flex;
    text-align: center;
    /* border: solid 1px purple; */
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px purple; */
}

.cards-img-placeholders {
    width: 150px;
    height: 150px;
    border:solid #3882F6;
    border-radius: 5px;
    
}

.card-text {
    width: 150px;
}

.container-three {
    background-color: #E5E7EB;
    align-items: center;
    color: #1F2937;
    /* border: solid 2px green; */
    justify-content: center;
}

.testimonial-sign {
    text-align: end;
    font-weight: bold;
    /* border: solid 2px green; */
}

.container-four{
    justify-content: center;
    padding: 64px 0px;
    border: solid 2px yellow;
}

.call-to-action-container {
    display: flex;
    align-items: center;
    gap: 96px;
    background-color: #3882F6;
    border-radius: 5px;
    width: 40%;
    height: 100px;
    justify-content: center;
    border: solid 2px yellow;
    padding: 20px;
}

.call-to-action-container button {
    border: 2px solid #F9FAF8;
    
}

.call-to-action-title {
    font-weight: bold;
    /* border: solid 2px yellow; */
}