body {
    min-height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    border: solid 1px red;
}

.header,
.container-one,
.container-two,
.container-three,
.container-four,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}