body {
    min-height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* * {
    border: solid 1px red;
} */

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header,
.container-one,
.container-two,
.container-three,
.container-four,
.footer {
    display: flex;
}

.container-one,
.container-two,
.container-three,
.container-four {
    flex: 1;
}

.header,
.footer {
    background-color: #1F2937;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.header-links {
    display: flex;
    gap:8px;
}

.container-one {
    background-color: #1F2937;
    display: flex;
    /* border: solid 1px red; */
}

.hero-text {
    flex:   1;
}

.image-placeholder {
    width: 50%;
    background-color: grey;
}

.container-two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #1F2937;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
}

.cards-container {
    display: flex;
    text-align: center;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-img-placeholders {
    width: 110px;
    height: 100px;
    border:solid #3882F6;
    border-radius: 5px;
}

.container-three {
    background-color: #E5E7EB;
    align-items: center;
    color: #1F2937
}

.testimonial-sign {
    text-align: end;
    font-weight: bold;
}

.container-four{
    justify-content: center;
    padding: 64px 0px;
}

.call-to-action-container {
    display: flex;
    align-items: center;
    gap: 96px;
    background-color: #3882F6;
    border-radius: 5px;
    width: 80%;
    justify-content: center;
}

.call-to-action-container button {
    border: 2px solid #F9FAF8;
}

.call-to-action-title {
    font-weight: bold;

}